 /* Hoja de estilo de la principal-vista y usuario-vista*/

.welcome{
    width: 100%;
    max-width: 600px;
    margin: auto;
    margin-top: 100px;
    background: rgba(0,0,0,0.6);
    text-align: center;
    padding: 20px;
}

.welcome img{
    width: 120px;
    height: 120px;
    text-align: center;
}

.welcome h1{
    font-size: 50px;
    color: white;
    font-weight: 100;
    margin-top: 20px;
}

.welcome a{
    display: ;
    margin-top: 40px;
    margin-right: 400px;
    font-size: 20px;
    padding: 10px;
    border: 1px solid white;
}

.welcome a:hover{
    color: black;
    background: white;
}
